{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}


{% set pageTitle = applicationName + " - Appointments" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% if submittedEvidence %}
{{ mojAlert({
  variant: "success",
  title: "You told us you cannot attend your unpaid work appointment on Saturday 15 March 2025",
  showTitleAsHeading: true,
  dismissible: true,
  html: "This has been shared with your probation practitioner who will check your justification. They’ll contact you if the evidence you provided was not accepted."
}) }}
{% endif %}

{{ govukBackLink({
  text: "Back to homepage",
  href: "/pop" + bypassQuery
}) }}

<h1 class="govuk-heading-xl">Appointments</h1>

<p class="govuk-body">
  Attending probation appointments is part of complying with your conditions. If you have a problem attending an appointment, you need to tell your probation practitioner as soon as possible.
</p>

<h2 class="govuk-heading-l">Upcoming appointments</h2>
{% set isUpcoming = true %}
{% for appointment in upcomingAppointments %}
  {% include "./partials/appointmentSummary.njk" %}
{% endfor %}

<h2 class="govuk-heading-l">Past appointments</h2>
{% set isUpcoming = false %}
{% for appointment in pastAppointments %}
  {% include "./partials/appointmentSummary.njk" %}
{% endfor %}

{% endblock %}
