{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Your details" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{{ govukBackLink({
  text: "Back to homepage",
  href: "/pop" + bypassQuery
}) }}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your details</h1>
<p class="govuk-body-s govuk-!-margin-bottom-6">Last updated on 10 March 2025, 2.29pm</p>

<p class="govuk-body">
  To change any of this information, contact your probation practitioner.
</p>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Personal details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Preferred name</dt>
        <dd class="govuk-summary-list__value">Joey</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of birth</dt>
        <dd class="govuk-summary-list__value">21 November 1992</dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Identity numbers</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">User ID</dt>
        <dd class="govuk-summary-list__value">{{ userProfile.userId }}</dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Contact details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Address</dt>
        <dd class="govuk-summary-list__value">{{ userProfile.address | safe }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Phone number</dt>
        <dd class="govuk-summary-list__value">{{ userProfile.phone }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Mobile number</dt>
        <dd class="govuk-summary-list__value">{{ userProfile.phone }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email address</dt>
        <dd class="govuk-summary-list__value">{{ userProfile.email }}</dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Emergency contact details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">Harold Bloggs</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Relationship</dt>
        <dd class="govuk-summary-list__value">Spouse</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Phone number</dt>
        <dd class="govuk-summary-list__value">07777 345123</dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Probation practitioner details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">Julie Myers</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Office phone number</dt>
        <dd class="govuk-summary-list__value">020 999 1234</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Office address</dt>
        <dd class="govuk-summary-list__value">
          National Probation Service<br />
          235 Greenwich High Road<br />
          London<br />
          SE10 8NB
        </dd>
      </div>
    </dl>
  </div>
</div>
{% endblock %}
