{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Your progress" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{{ govukBackLink({
  text: "Back to homepage",
  href: "/pop" + bypassQuery
}) }}

<h1 class="govuk-heading-xl">Your progress</h1>

<h2 class="govuk-heading-m">Overall order</h2>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">Community order</h3>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Order period</dt>
        <dd class="govuk-summary-list__value">15 January 2024 to 14 January 2026</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Time completed</dt>
        <dd class="govuk-summary-list__value">12 months</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          <span class="govuk-tag govuk-tag--green">On track</span>
        </dd>
      </div>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-m">Order requirements</h2>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">Unpaid work</h3>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Hours completed</dt>
        <dd class="govuk-summary-list__value">{{ progressData.totalCompletedHours }} of {{ progressData.totalHours }} hours</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          <span class="govuk-tag govuk-tag--green">On track</span>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">Curfew</h3>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Curfew period</dt>
        <dd class="govuk-summary-list__value">16 December 2024 to 15 March 2025</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Time completed</dt>
        <dd class="govuk-summary-list__value">6 weeks</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          <span class="govuk-tag govuk-tag--green">Compliant</span>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">Rehabilitation activity requirement (RAR)</h3>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Days completed</dt>
        <dd class="govuk-summary-list__value">8 of 20 days</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          <span class="govuk-tag govuk-tag--green">On track</span>
        </dd>
      </div>
    </dl>
  </div>
</div>
{% endblock %}
