{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - View upcoming appointment" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ govukBackLink({
  text: "Back to Your appointments",
  href: "/pop/appointments" + bypassQuery
}) }}

<h1 class="govuk-heading-xl">View upcoming appointment</h1>

{% if submitEvidence %}
  {{ govukInsetText({
    text: "You told us you cannot attend this appointment. This has been shared with your probation practitioner who will check your justification. They'll contact you if the evidence you provided was not accepted."
  }) }}
{% else %}
  <p class="govuk-body">
    If you have a problem attending an appointment, you need to
    <a class="govuk-link" href="/pop/appointment-notify{{ bypassQuery }}">tell your probation practitioner</a>
    as soon as possible.
  </p>
{% endif %}

{% include "./partials/appointment-summary.njk" %}

{% endblock %}
