<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">
      {{ appointment.date }}
      {% if isUpcoming and loop.first and submittedEvidence %}
        <span class="govuk-tag govuk-tag--red govuk-!-margin-left-2">Cannot attend</span>
      {% endif %}
    </h3>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Time</dt>
        <dd class="govuk-summary-list__value">{{ appointment.time }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">{{ appointment.title or appointment.category }}</dd>
      </div>
      {% if appointment.contact %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Key contact</dt>
          <dd class="govuk-summary-list__value">{{ appointment.contact }}</dd>
        </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if appointment.category == 'Unpaid work' %}
            Meeting point
          {% else %}
            Location
          {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">{{ appointment.location }}</dd>
      </div>
    </dl>

    <div class="govuk-!-margin-top-3">
      {% if appointment.showOnMap %}
        <button class="govuk-button govuk-button--secondary govuk-!-margin-right-2">
          View on map
        </button>
      {% endif %}
      {% if isUpcoming %}
        <button class="govuk-button govuk-button--secondary govuk-!-margin-right-2">
          Add to calendar
        </button>
        {% if isUpcoming and loop.first and submittedEvidence %}
          <a class="govuk-link" href="/pop/view-appointment?submitEvidence=true{% if bypassParam %}&{{ bypassParam }}{% endif %}">View</a>
        {% else %}
          <a class="govuk-link" href="/pop/view-appointment{{ bypassQuery }}">View</a>
        {% endif %}
      {% else %}
        <a class="govuk-link" href="/pop/view-past-appointment{{ bypassQuery }}">View</a>
      {% endif %}
    </div>
  </div>
</div>
