POC_PASSWORD=supersecure
PRODUCT_ID=UNASSIGNED
REDIS_ENABLED=false
REDIS_HOST=localhost
SESSION_SECRET=somesecretvalue

VALID_OTP=123456
POP_LOGIN_OTP=123456
POP_PASSWORD=supersecure

NO_HTTPS=true

INGRESS_URL=http://localhost:3000
# INGRESS_URL=http://tcom-ui.local:3000
