$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import './components/header-bar';
@import './components/card-links';
@import './components/lovable-overrides';
@import './components/profile';
@import './components/show-password';
@import './components/camera';
@import './components/chat-widget-modal';
@import './components/chat-widget-embed';
@import './local';
