{% extends "govuk/template.njk" %}

{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "../partials/header.njk" %}
  {% include "../partials/phaseBanner.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}

{% block footer %}
  <footer class="govuk-footer">
    <div class="govuk-footer__container">
      <span class="govuk-footer__link">© Crown copyright</span>
    </div>
  </footer>
{% endblock %}
